<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        <link rel="icon" href="../static/images/icon.png">
    <link rel="stylesheet" href="static/css/style.css">
    <title>HireLinkX</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../static/images/logo2.png" alt="Company Logo" class="logo2">
        </div>
        
        <nav>
            <ul>
                <li ><a href="/company_index" class="nav-link ">Home</a></li>
                <li ><a href="/c_about" class="nav-link active">About Us</a></li>
                <li ><a href="/c_services" class="nav-link">Services</a></li>
                <li ><a href="/c_company" class="nav-link">User Chat</a></li>
                <li ><a href="/c_vacancy" class="nav-link">Vacancies Wall</a></li>
                <li ><a href="/c_testimonal" class="nav-link">Testimoinals</a></li>
                <li ><a href="/c_contact" class="nav-link">Contact Us</a></li>
                <li class="user-profile">
                    <a href="/c_profile" class="profile-link">My Profile</a>
                    <span>|</span>
                    <a href="/c_logout" class="profile-link">Log Out</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <div class="about">
            <h1>About Us</h1>
            <p>At HireLink X, our journey began with a simple but profound realization: <br />
                the job search and hiring process could be made more efficient, transparent, and user-friendly. <br />
                Founded by a team of passionate professionals who understood the challenges faced by job seekers <br />
                and employers alike, we embarked on a mission to bridge the gap between talent and opportunity.</p>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3">
                <div class="mission-card fullH">
                    <img src="../static/images/mission.jpeg" alt="Mission Image">
                    <h2>Our Mission</h2>
                    <p>Our mission is to empower job seekers to achieve their professional aspirations
                        and help businesses build their dream teams. We are committed to providing cutting-edge
                        technology and unparalleled support to create a seamless job search and hiring experience.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="vision-card fullH">
                    <img src="../static/images/vission.jpeg"
                        alt="Vision Image">
                    <h2>Our Vision</h2>
                    <p>Whether you're a job seeker looking to take the next step in your career or
                        an employer seeking top talent, we invite you to join the HireLink X community.
                        Together, we can transform the way people find and fill job opportunities</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="goal-card fullH">
                    <img src="../static/images/goal.jpeg"
                        alt="Goal Image">
                    <h2>Our Goal</h2>
                    <p>Meet the passionate individuals who drive HireLink X forward.
                        We are a diverse team of professionals who share a common goal: to make the world of work a
                        better
                        place.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="aim-card fullH">
                    <img src="../static/images/aim.jpeg">
                    <h2>Our Aim</h2>
                    <p>your trusted partner in simplifying the job search process and connecting talent
                        with opportunity. We are dedicated to revolutionizing the way people find their dream
                        careers and assisting businesses in finding the perfect candidates.</p>
                </div>
            </div>
        </div>
    </div>










    <section class="process">

        <div class="container">
            <div class="row mt-5 mb-5">
                <div class="col-12 col-md-6 mt-5 mb-5">
                    <h2>Our Process</h2>
                </div>
                <div class="col-12 col-md-6 mt-5 mb-5">

                    <div class="circle">
                        <h1><br /></h1>
                        <h1> 1.Upload CV</h1>
                        <h1> 2.Check CV</h1>
                        <h1> 3.Process to Check</h1>
                        <h1> 4.Get a Score</h1>
                        <h1> 5.Matching Job Vacancies</h1>
                        <h1> 6.Apply</h1>
                        <h1> 7.Chat With Company</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2>Our team</h2>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="team">
                        <div class="team1-card">
                            <img 
                            src="../static/images/te01.jpeg"
                                alt="Aim Image">
                            <h2>Tharushi Herath</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="team2-card">
                        <img 
                        src="../static/images/te02.jpeg"
                            alt="Goal Image">
                        <h2>Somehsa Hewage</h2>
                    </div>
                </div>
            </div>
        </div>




    </section>

    <!-- <div class="logoabout">
        <img src="images/Brain Logo Vector Stock Vector (Royalty Free) 781921582 _ Shutterstock.jpeg"
            alt="Company Logo">
    </div>
 -->


    <footer>
        <p>&copy; 2023 designed by Code bunch team. All rights reserved.</p>
    </footer>
</body>

</html>