<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="icon" href="../static/images/icon.png">
    <title>HireLinkX</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="../static/images/logo2.png" alt="Company Logo" class="logo2">
      </div>
      
      <nav>
        <ul>
            <li ><a href="/company_index" class="nav-link ">Home</a></li>
            <li ><a href="/c_about" class="nav-link ">About Us</a></li>
            <li ><a href="/c_services" class="nav-link">Services</a></li>
            <li ><a href="/c_company" class="nav-link">User Chat</a></li>
            <li ><a href="/c_vacancy" class="nav-link">Vacancies Wall</a></li>
            <li ><a href="/c_testimonal" class="nav-link">Testimoinals</a></li>
            <li ><a href="/c_contact" class="nav-link">Contact Us</a></li>
            <li class="user-profile">
                <a href="/c_profile" class="profile-link">My Profile</a>
                <span>|</span>
                <a href="/c_logout" class="profile-link">Log Out</a>
            </li>
        </ul>
    </nav>
    </header>

    <div class="hero">
      <div class="about">
        <h1>Applications</h1>
      </div>
    </div>

    <div class=" allrow" id="dataContainer"></div>
  
    <script>
      loadjob();

      function loadjob() {
        var file = "data";

        var formData = new FormData();
        formData.append("file", file);

        fetch("/load_application", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((message) => {
            console.log(message.jobs);

            const dataContainer = document.getElementById("dataContainer");

            // Loop through the data and create HTML elements to display it
            for (const key in message.jobs) {
            if (message.jobs.hasOwnProperty(key)) {

              console.log(message.loguserdata)
              const item = message.jobs[key];
              if(message.loguserdata == item.company_email){
              const div = document.createElement("div");
              // div.innerHTML = <strong>Introduction:</strong> ${item.introduction}<br><strong>Position:</strong> ${item.position}<br><br>;
              div.innerHTML = ` <div class="vac-card ">
      <div class="vac-card-content">
        <h3 class="vac-position-title">Position Title: ${item.position}</h3>
        <h3 class="vac-position-title">Name: ${item.candidateUser_username}</h3>
        <h3 class="vac-position-title">Email: ${item.candidateUser}</h3>
        <h3 class="vac-position-title">Telephone Number: ${item.candidateUser_phone}</h3>
       

        
        <div class="input-group">
                <label for="other-files">Other Files:</label>
                <ul id="other-files-list">
                    <li><a href="${item.candidateUser_resume_path}" download>Resume</a></li>
                    <li><a href="${item.candidateUser_cover_letter_path}" download>Cover Letter</a></li>
                    <li><a href="${item.candidateUser_uni_letter_path}" download>University Letter</a></li>
                </ul>
        </div>
       

        
     
      </div>
    </div> `;
              dataContainer.appendChild(div);
            }
            }
          }
        }) 
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>

    <!-- <div class="vac-card">
        <div class="vac-card-content">
            <h2 class="vac-position-title">Position Title: Software Enginnering</h2>
            <p class="vac-job-description">
                As a SE Intern, you will play a crucial role in ensuring the quality and reliability of our software products. You will work closely with our experienced SE team to learn and apply industry-standard testing methodologies and best practices. This internship offers a valuable opportunity to gain hands-on experience in software testing and quality assurance processes.
            </p>
            <h3 class="vac-responsibilities">Key Responsibilities:</h3>
            <ul class="vac-responsibilities-list">
                <li>Test Planning: Assist in developing test plans and test cases based on software requirements and specifications.</li>
                <li>Test Execution: Execute test cases to identify defects, inconsistencies, and areas for improvement in the software.</li>
                <li>Defect Reporting: Report and document defects, including clear steps to reproduce issues, and work with developers to ensure timely resolution.</li>
                <li>Regression Testing: Participate in regression testing to verify that previously identified issues have been addressed.</li>
                <li>Test Automation: Learn and contribute to test automation efforts, using industry-standard tools and frameworks.</li>
                <li>Documentation: Maintain detailed test documentation and provide clear status updates on testing progress.</li>
                <li>Collaboration: Collaborate with cross-functional teams, including developers, product managers, and designers, to ensure a high-quality product.</li>
                <li>Continuous Learning: Stay updated on industry trends, testing methodologies, and best practices to enhance your skills and knowledge.</li>
            </ul>
            <h3 class="vac-qualifications">Qualifications:</h3>
            <ul class="vac-qualifications-list">
                <li>Enrolled in a relevant degree program, such as Computer Science, Information Technology, or a related field.</li>
                <li>Strong attention to detail and analytical skills.</li>
                <li>Excellent communication and teamwork skills.</li>
                <li>Eagerness to learn and adapt to new technologies and tools.</li>
                <li>Basic understanding of software development and testing concepts is a plus.</li>
            </ul>
            <p class="vac-duration">Duration: 1 Year</p>
            <p class="vac-location">Location: Remote</p>

            <button id="applyModalBtn">Apply Now</button>
            <div id="applyModal" class="applymodal">
                <div class="applymodal-content">
                    <span class="applyclose">&times;</span>
                    <p>Succesfully Sent Your Account :)</p>
                    <button id="chatpopButton"><a href="/chat">Chat with company</a></button>
                </div>
            </div>
            <script src="static/js/apply.js"></script>
        </div>
    </div>

    <div class="vac-card">
        <div class="vac-card-content">
            <h2 class="vac-position-title">Position Title: Software Enginnering</h2>
            <p class="vac-job-description">
                As a SE, you will play a crucial role in ensuring the quality and reliability of our software products. You will work closely with our experienced QA team to learn and apply industry-standard testing methodologies and best practices. This internship offers a valuable opportunity to gain hands-on experience in software testing and quality assurance processes.
            </p>
            <h3 class="vac-responsibilities">Key Responsibilities:</h3>
            <ul class="vac-responsibilities-list">
                <li>Test Planning: Assist in developing test plans and test cases based on software requirements and specifications.</li>
                <li>Test Execution: Execute test cases to identify defects, inconsistencies, and areas for improvement in the software.</li>
                <li>Defect Reporting: Report and document defects, including clear steps to reproduce issues, and work with developers to ensure timely resolution.</li>
                <li>Regression Testing: Participate in regression testing to verify that previously identified issues have been addressed.</li>
                <li>Test Automation: Learn and contribute to test automation efforts, using industry-standard tools and frameworks.</li>
                <li>Documentation: Maintain detailed test documentation and provide clear status updates on testing progress.</li>
                <li>Collaboration: Collaborate with cross-functional teams, including developers, product managers, and designers, to ensure a high-quality product.</li>
                <li>Continuous Learning: Stay updated on industry trends, testing methodologies, and best practices to enhance your skills and knowledge.</li>
            </ul>
            <h3 class="vac-qualifications">Qualifications:</h3>
            <ul class="vac-qualifications-list">
                <li>Enrolled in a relevant degree program, such as Computer Science, Information Technology, or a related field.</li>
                <li>Strong attention to detail and analytical skills.</li>
                <li>Excellent communication and teamwork skills.</li>
                <li>Eagerness to learn and adapt to new technologies and tools.</li>
                <li>Basic understanding of software development and testing concepts is a plus.</li>
            </ul>
            <p class="vac-duration">Duration: 2 Year</p>
            <p class="vac-location">Location: onsite</p>

            <button id="applyModalBtn">Apply Now</button>
            <div id="applyModal" class="applymodal">
                <div class="applymodal-content">
                    <span class="applyclose">&times;</span>
                    <p>Succesfully Sent Your Account :)</p>
                    <button id="chatpopButton"><a href="/chat">Chat with company</a></button>
                </div>
            </div>
            <script src="static/js/apply.js"></script>
        </div>
    </div>

    <div class="vac-card">
        <div class="vac-card-content">
            <h2 class="vac-position-title">Position Title: Machine Learning Enginnering</h2>
            <p class="vac-job-description">
                As a ML, you will play a crucial role in ensuring the quality and reliability of our software products. You will work closely with our experienced QA team to learn and apply industry-standard testing methodologies and best practices. This internship offers a valuable opportunity to gain hands-on experience in software testing and quality assurance processes.
            </p>
            <h3 class="vac-responsibilities">Key Responsibilities:</h3>
            <ul class="vac-responsibilities-list">
                <li>Test Planning: Assist in developing test plans and test cases based on software requirements and specifications.</li>
                <li>Test Execution: Execute test cases to identify defects, inconsistencies, and areas for improvement in the software.</li>
                <li>Defect Reporting: Report and document defects, including clear steps to reproduce issues, and work with developers to ensure timely resolution.</li>
                <li>Regression Testing: Participate in regression testing to verify that previously identified issues have been addressed.</li>
                <li>Test Automation: Learn and contribute to test automation efforts, using industry-standard tools and frameworks.</li>
                <li>Documentation: Maintain detailed test documentation and provide clear status updates on testing progress.</li>
                <li>Collaboration: Collaborate with cross-functional teams, including developers, product managers, and designers, to ensure a high-quality product.</li>
                <li>Continuous Learning: Stay updated on industry trends, testing methodologies, and best practices to enhance your skills and knowledge.</li>
            </ul>
            <h3 class="vac-qualifications">Qualifications:</h3>
            <ul class="vac-qualifications-list">
                <li>Enrolled in a relevant degree program, such as Computer Science, Information Technology, or a related field.</li>
                <li>Strong attention to detail and analytical skills.</li>
                <li>Excellent communication and teamwork skills.</li>
                <li>Eagerness to learn and adapt to new technologies and tools.</li>
                <li>Basic understanding of software development and testing concepts is a plus.</li>
            </ul>
            <p class="vac-duration">Duration: 1 Year</p>
            <p class="vac-location">Location: Remote</p>

            <button id="applyModalBtn">Apply Now</button>
            <div id="applyModal" class="applymodal">
                <div class="applymodal-content">
                    <span class="applyclose">&times;</span>
                    <p>Succesfully Sent Your Account :)</p>
                    <button id="chatpopButton"><a href="/chat">Chat with company</a></button>
                </div>
            </div>
            <script src="static/js/apply.js"></script>
        </div>
    </div> -->

    <footer>
      <p>&copy; 2023 designed by Code bunch team. All rights reserved.</p>
    </footer>

    <script src="static/js/apply.js"></script>
  </body>
</html>
