<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" href="../static/images/icon.png">
    <title>Services Page</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static/images/logo2.png" alt="Company Logo" class="logo2">
        </div>
        <div class="intro">
            <h1>WELCOME to HireLink X</h1>
            <p>Find your future career path and perfect job</p>
            
           
        </div>
        <nav>
            <ul>
                <li><a href="/" class="nav-link ">Home</a></li>
                <li><a href="/h_about" class="nav-link">About Us</a></li>
                <li><a href="/h_services" class="nav-link active">Services</a></li>
                <li><a href="/h_company" class="nav-link">Companies</a></li>
                <li><a href="/h_vacancy" class="nav-link">Vacancies Wall</a></li>
                <li><button id="openModalBtn">Start Now</button></li>

                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>If You are,</p>
                        <div class="allrowin">
                            <button id="canButton"><a href="/logincan">Candidate</a></button>
                            <button id="comButton"><a href="/logincom">Company</a></button>
                        </div>
                    </div>
                </div>

            </ul>
        </nav>
    </header>
    <div class="Service-page">
        <h1>Services</h1>
        </div>
    <div class="services-container">
        <div class="service-card">
            <img src="../static/images/CV CHECK.jpeg" alt="Service 1">
            <h2>CV Read</h2>
            <p>Our CV Read service uses advanced technology to thoroughly analyze your resume, identifying strengths and areas for improvement.
                 Receive feedback and suggestions to enhance your chances of landing your dream job.</p>
        </div>
        <div class="service-card">
            <img src="../static/images/error.jpeg" alt="Service 2">
            <h2> Checking Errors and Mentioned Errors</h2>
            <p>We meticulously review your resume and pinpoint any errors or inconsistencies. From spelling and grammar to formatting and 
                content, we ensure your document is error-free and presents you in the best light.</p>
        </div>
        <div class="service-card">
            <img src="../static/images/Ecology.jpeg" alt="Service 2">
            <h2>Skill-Matched Job Vacancies</h2>
            <p>Access a curated list of job vacancies that align perfectly with your skills and aspirations. Our platform matches your qualifications 
                with available positions, saving you time and helping you find the job that's the best fit for you.</p>
        </div>
        <div class="service-card">
            <img src="../static/images/chat.jpeg" alt="Service 2">
            <h2>Chat with Companies</h2>
            <p>Engage directly with hiring companies through our chat feature. Ask questions, learn more about job opportunities,
                 and showcase your interest and enthusiasm to stand out from the crowd.</p>
        </div>
        <div class="service-card">
            <img src="../static/images/employe.jpeg" alt="Service 2">
            <h2>Become an Employee</h2>
            <p>Our platform streamlines the hiring process, making it easy for you to transition from job seeker to employee. Apply for jobs, schedule interviews,
                 and track your progress all in one place, ensuring a smooth and efficient experience.</p>
        </div>
        <div class="service-card">
            <img src="../static/images/smooth.jpeg" alt="Service 2">
            <h2>Smooth Service</h2>
            <p>We are committed to providing a seamless and user-friendly experience. Our platform is designed to make every step of your job search and hiring process as 
                smooth and hassle-free as possible, so you can focus on what matters most – your career.</p>
        </div>
        
    </div>
    <footer>
        <p>&copy; 2023 designed by Code bunch team. All rights reserved.</p>
    </footer>

    <script src="static/js/popup-script.js"></script>
</body>
</html>
